<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
   <head>
      <meta charset="UTF-8">
      <title>Shopping Cart Final</title>
      <link rel="stylesheet" type="text/css" th:href="@{/app.css}">
   </head>
   <body>
    
      <th:block th:include="/header"></th:block>
      <div class="container">
         <h3>Thank you for Order</h3>
         Your order Has been places Successfully!!!!
      </div>
       
      <th:block th:include="/footer"></th:block>
       
   </body>
</html>


